[submodule "firmware/libs/libmaple"]
	path = firmware/libs/libmaple
	url = git://github.com/joeferner/libmaple.git
[submodule "firmware/libs/sdfat"]
	path = firmware/libs/sdfat
	url = git://github.com/joeferner/maple-sdfat-gitclone.git
[submodule "firmware/libs/usbMassStorage"]
	path = firmware/libs/usbMassStorage
	url = git://github.com/joeferner/maple-usbMassStorage.git
