[submodule "firmware/libs/libmaple"]
	path = firmware/libs/libmaple
	url = git://github.com/leaflabs/libmaple.git
[submodule "firmware/libs/sdcard"]
	path = firmware/libs/sdcard
	url = git://github.com/joeferner/maple-sdcard
